@model Movie
  
<div class="text-center container pb-3">
    <h1 class="display-4">Thank you!</h1>
    <p>Movie successfully registered. Please see your submission details below.</p>
</div>

<div class="container pb-3">
    <div class="row">
        <div class="col-6 col-md-2"><p><strong>Title: </strong></p></div>
        <div class="col-12 col-md-10"><p>@Model.Title</p></div>
    </div>

    <div class="row">
        <div class="col-6 col-md-2"><p><strong>Genre: </strong></p></div>
        <div class="col-12 col-md-10"><p>@Model.Genre</p></div>
    </div>

    <div class="row">
        <div class="col-6 col-md-2"><p><strong>Year: </strong></p></div>
        <div class="col-12 col-md-10"><p>@Model.Year</p></div>
    </div>

    <div class="row">
        <div class="col-6 col-md-2"><p><strong>Actors: </strong></p></div>
        <div class="col-12 col-md-10"><p>@Model.Actors</p></div>
    </div>

    <div class="row">
        <div class="col-6 col-md-2"><p><strong>Directors: </strong></p></div>
        <div class="col-12 col-md-10"><p>@Model.Directors</p></div>
    </div>
</div>





